@using WebApp.Models
@using WebApp.Services

@if(BikeTrips == null || !BikeTrips.Any())
{
    <p>No bike trips</p>
}
else
{
    <table>
        <tr>
            <th>Journey</th>
            <th>Departure time</th>
            <th>Return time</th>
            <th>Departure Station</th>
            <th>Return Station</th>
            <th>Duration</th>
            <th>Distance</th>
        </tr>

        @foreach (Models.BikeTrip trip in BikeTrips)
        {
            //Distance and duration need some custom formatting
            string durationMessage = $"{trip.Duration.Minutes}m {trip.Duration.Seconds}s";
            string distanceMessage = $"{(trip.Distance / 1000f).ToString("0.00")} km";

            <tr>
                <td>@trip.ID</td>
                <td>@trip.DepartureTime</td>
                <td>@trip.ReturnTime</td>
                <td>@trip.DepartureStationName</td>
                <td>@trip.ReturnStationName</td>
                <td>@durationMessage</td>
                <td>@distanceMessage</td>
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public IEnumerable<BikeTrip> BikeTrips { get; set; }
}
